<h2>Save new word</h2>

<!-- <form (ngSubmit)="submitForm()" [formGroup]="contactForm" novalidate>
  <div class="form-content">
    <label>
      Name:
      <input type="text" formControlName="name" class="sd-form-control" placeholder="Enter your name.">
    </label>
    <label>
      Email:
      <input type="email" formControlName="email" class="sd-form-control" placeholder="Enter your email.">
    </label>
    <label>
      Content:
      <textarea formControlName="content" class="sd-form-control" placeholder="Content here."></textarea>
    </label>
    <div class="form-submit">
      <button type="submit">Submit</button>
    </div>
  </div>
</form> -->


<div>
  <form class="" (ngSubmit)="submitForm()" [formGroup]="saveForm" novalidate>
	<!-- <form class="contact_form" name="inputForm" ng-submit="validateInput(inputForm)" novalidate> -->
			<!-- <h1>Save Word</h1> -->
			<ul>
				<li>
					<input type="text" name="date" id="date" ng-model="date" disabled />
				</li>
				<li>
					<input type="text" name="word" id="word" ng-model="word" placeholder="Enter word" required />
					<!-- <span style="color:red" ng-show="(inputForm.word.$dirty || submitted) && inputForm.word.$invalid">
						<span ng-show="inputForm.word.$error.required">word is required.</span>
					</span> -->
				</li>
				<li>
					<input type="text" name="meaning" id="meaning" ng-model="meaning" placeholder="Enter meaning" required />
					<!-- <span style="color:red" ng-show="(inputForm.meaning.$dirty || submitted) && inputForm.meaning.$invalid">
						<span ng-show="inputForm.meaning.$error.required">Meaning is required.</span>
					</span> -->
				</li>
				<li>
					<input type="text" name="sentence" id="sentence" ng-model="sentence" placeholder="Enter example/phrase" required />
					<!-- <span style="color:red" ng-show="(inputForm.sentence.$dirty || submitted) && inputForm.sentence.$invalid">
						<span ng-show="inputForm.sentence.$error.required">Sentence is required.</span>
					</span> -->
				</li>
			</ul>
			<input type="submit" name="Save" value="Save"/>
			<div class="clear"></div>
		</form>
</div>

<div class="form-value">
  Form value:
  <pre>
    {{contactForm.value | json}}
  </pre>
  <p>
    Status: {{contactForm.status}}
  </p>
  <p>
    Valid: {{contactForm.valid}}
  </p>
  <p>Submit then open console to see full form.</p>
</div>

